.container {    margin-left: 40px;
                margin-right: 40px; }
P {		margin-left: 60px;
		margin-right: 60px;}
H4 {		margin-left: 30px;
		margin-right: 30px;}
UL {		margin-left: 60px;
		margin-right: 60px;}
OL {		margin-left: 60px;
		margin-right: 60px;}
PRE {		margin-left: 100px;
		margin-right: 100px;}
